.mixMatchCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    height: 400px;
    margin: 20px;
    display: inline-block;
    position: relative;
}

/* On mouse-over, add a deeper shadow */
.mixMatchCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.favBTN {
    right:    10px;
    bottom:   10px;
}
.selectorDisplay{
    height: 25vh; 
    margin-top: 1vh;
}
.imgView{
    height: 28vh;
    width: 22vw;
    padding: 10px;
    text-align: center;
    display: inline-block;
}
#favBTN{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 30px;
    color: #993955;
    overflow: hidden;
    border: 4px #993955 solid;
    
}
#favBTN #favText{
    display: none;
}
#favBTN:hover {
    width: 190px;
    border-radius: 30px 30px 30px 30px;
    transition-duration: .3s;
    border: 4px #993955 solid;
}
#favBTN:hover #favText{
    display: inline;
    font-size: 20px;
    margin-right: -15px;
}

#favBTN:active{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transform: translateY(6px);
}
#mixNMatchContent{
    display: inline-block
}
#viewPort{
    text-align: center;
}
.forwardBTN{
    border: none !important;
}
.forwardBTN:focus{
    outline: none;
}
.forwardImg{
    height: 15vh;
    width: 10vw;
    transform: rotate(180deg);
}
.backwardImg{
    height: 15vh;
    width: 10vw;
}