.picker{
    width: 100px;
}

.mixMatchCard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 45%;
    height: 400px;
    margin: 20px;
    display: inline-block;
    position: relative;
}

/* On mouse-over, add a deeper shadow */
.mixMatchCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
.favBTN {
    position: absolute;
    right:    10px;
    bottom:   10px;
}
.mMTopImg{
    height: 200px;
    display: inline-block;

}
.mMBottomImg{
    height: 300px;
    display: inline-block;
}
.selectorDisplay{
    height: 100px;
}