
html, body {
    height: 100%;
}


#loginForm{
    border: 5px #2F2F2F;
    border-style: dashed;
    background-color: rgb(226, 226, 226);
    height: 70%;
    text-align: center;
    margin-top: 10vh;
    overflow: scroll;
    
}
#loginInputs{
    border: 3px white;
    border-style: inset;
    text-align: center;
    margin: 10%;
    padding: 3vh;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    display: inline-block;
}

h1{
    color: #993955;
    font-family: 'Megrim', cursive;
    margin: auto;
}

#logoLogin{
    border: 4px white;
    border-style: outset;
    padding: 3vh;
    font-size: 70px !important;
    overflow-wrap: break-word;
    
}
#viewDiv{
    height: 100vh;
    background-image: url("https://s3-eu-west-1.amazonaws.com/images.linnlive.com/46f002540b02bbcc49ff64da6bbb6eee/23aa2f70-cfcd-4f43-9b84-cc4646b18ce1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: #2F2F2F;
    background-repeat: no-repeat;
    /* The image used */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

  /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

#loginBTN{
    background-color: #7e99ad;
    border: none;
    font-size: 16px;
    padding: 8px;
    color: white;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; 
    
}
#loginBTN:hover{
    background-color: #9dbed8;
    cursor: pointer;
    
}

#loginBTN:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.alert{
    color: #993955;
    font-size: 14px;
}
