#welcomeHeader{
    position: absolute;
    right: 20px;
    top: 10px;
}
#welcomeStatement{
    padding: 10px;
    margin: 10px;
}
#logoutBTN{
    position: absolute;
    right: 10px;
    top: 60px;
}